(
	cougar,
	cobra_mk_iii,
	krait,
	thargoid,
	thargon,
	boa_class_cruiser,
	gecko,
	moray_star_boat,
	adder,
	mamba,
	viper,
	fer_de_lance,
	cobra_mk_i,
	python,
	anaconda,
	rolfs_cobra,
	asp_mk_ii,
	sidewinder,
	wolf_mk_ii,
	orbit_shuttle,
	transporter,
	missile,
	escape_capsule,
	cargo_canister,
	platlet,
	asteroid1,
	asteroid2,
	buoy,
	coriolis_station,
	icosaeder_station,
	dodec_station
)
